@model Test.Auto.Presentacion.Models.ViewModelPortal
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/Portal.css" rel="stylesheet" />
<link href="~/Content/chosen.css" rel="stylesheet" />

@using (Html.BeginForm("GetAutomovilList", "Automovil", new { }, FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-body">

            <img style="width: 1300px; height: 450px; position: relative; z-index: -1;" src="~/Content/imagenes/maxresdefault.jpg" />

            <div class="fondo" style="background-color: #34495e; opacity: 1;border-radius: 30px; padding-top: 10px; margin-top: 0px; width: 900px; left: 60px; right: 444px; height: 107px; top: 153px; border-top-width: 0px; z-index: 1; position: absolute;">

                <div class="form-inline " style="width: 950px">

                    @Html.DropDownListFor(model => model.Marcas,
                        new SelectList(Model.Marcas, "id", "nombre_marca", Model.Marcas),
                        new
                        {
                            id = "marca",
                            @class = "chosen-select-deselect form-control small-input input-sm custom-select claseMarca",
                            @data_placeholder = "Seleccione una " + Html.DisplayNameFor(t => t.Marcas),
                            @onchange = "cargarCombos();"
                        })

                    @Html.DropDownListFor(model => model.Modelos,
                        new SelectList("", "", "", Model.Modelos),
                        new
                        {
                            id = "Modelo",
                            @class = "chosen-select-deselect form-control medium-input input-sm custom-select claseModelo",
                            @data_placeholder = "Seleccione una " + Html.DisplayNameFor(t => t.Modelos),
                            @onchange = "cargarComboAnio();"
                        })


                    @Html.DropDownListFor(model => model.automovil,
                        new SelectList("", "anio", "anio", Model.automovil),
                        new
                        {
                            id = "anios",
                            @class = "chosen-select-deselect form-control large-input input-sm custom-select claseAuto",
                            @data_placeholder = "Seleccione una fecha",

                        })

                </div>
                <div class="form-inline" style="margin-top: 9px;">
                    <input type="text" style="margin-left: 25px;" id="kmDesde" name="kmDesde" class="form-control" placeholder="Km Desde" />
                    <input style="margin-left: 6px;" type="text" id="kmHasta" name="kmHasta" class="form-control" placeholder="Km Hasta" />
                    <input style="margin-left: 4px;" type="text" class="form-control" name="precioDesde" placeholder="Precio Desde" />
                    <input style="margin-left: 7px; height: 37px; padding-right: 0px; border-right-width: 0px; padding-left: 5px; width: 142px;" type="text" class="form-control" name="preciohasta" placeholder="Precio Hasta" />
                    <button type="submit" class="btn btn-danger" style="margin-left: 34px;">Buscar</button>
                </div>
            </div>
            <div class="row" style="margin-top: 40px; margin-left: 13px; margin-right: 19px;">
                <div class="col-md-4">
                    <h2>Diseños 2018</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>El Futuro de los Autos</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Nuevos Servicios</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
}



<script>

    function cargarCombos() {
        debugger;
        var cod_marca = $("#marca").val();

        $('#Modelo').empty();
        $('#Modelo').append(
            $('<option>', {
                value: 0,
                text: "Seleccione una opción"
            }, '</option>'));

        $("#Modelo").trigger("chosen:updated");
        $("#Modelo").trigger("liszt:updated");
        $.ajax({
            type: 'GET',
            url: "/Portal/comboModelo?cod_marca=" + cod_marca,
            dataType: 'json',
            data: { 'cod_marca': cod_marca },
            traditional: true,
            async: true,
            success: function (data) {
                debugger;
                $.each(data, function (i, data) {
                    $("#Modelo").append('<option value="'
                    + data.id + '">'
                    + data.nombre_modelo + '</option>');

                });
            },
            error: function (ex) {
                alert('Error al consultar los modelos.' + ex);
            }
        });

    }

    function cargarComboAnio() {
        debugger;
        var cod_modelo = $("#Modelo").val();

        $('#anios').empty();
        $('#anios').append(
            $('<option>', {
                value: 0,
                text: "Seleccione una opción"
            }, '</option>'));

        $("#anios").trigger("chosen:updated");
        $("#anios").trigger("liszt:updated");
        $.ajax({
            type: 'GET',
            url: "/Portal/comboModeloAnios?cod_modelo=" + cod_modelo,
            dataType: 'json',
            data: { 'cod_modelo': cod_modelo },
            traditional: true,
            async: true,
            success: function (data) {
                debugger;
                $.each(data, function (i, data) {
                    $("#anios").append('<option>'
                    + data.anios + '</option>');

                });
            },
            error: function (ex) {
                alert('Error al consultar los modelos.' + ex);
            }
        });




    }

</script>
